{{- if and .Values.canary (index .Values.canary "enabled") }}
apiVersion: flagger.app/v1beta1
kind: Canary
metadata:
  name: {{ include "dosm-insights.fullname" . }}
  namespace: {{ .Release.Namespace }}
spec:
  # Target deployment
  targetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "dosm-insights.fullname" . }}
  
  # Service
  service:
    port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
  
  # Canary analysis
  analysis:
    # Schedule interval (default 1m)
    interval: {{ .Values.canary.analysis.interval }}
    # Max number of failed checks before rollback
    threshold: {{ .Values.canary.analysis.threshold }}
    # Max traffic percentage routed to canary
    maxWeight: {{ .Values.canary.analysis.maxWeight }}
    # Canary increment step
    stepWeight: {{ .Values.canary.analysis.stepWeight }}
    
    # Metrics for canary analysis
    metrics:
      - name: request-success-rate
        # Minimum req success rate (non 5xx responses)
        thresholdRange:
          min: {{ .Values.canary.metrics.successRate.min }}
        interval: 1m
      
      - name: request-duration
        # Maximum req duration P95
        thresholdRange:
          max: {{ .Values.canary.metrics.latency.max }}
        interval: 1m
    
    # Webhooks for notifications (optional)
    {{- if .Values.canary.webhooks }}
    webhooks:
      {{- toYaml .Values.canary.webhooks | nindent 6 }}
    {{- end }}
{{- end }}
